{% extends 'app/base.html' %}


{% block title %}
    <title>Productos</title>

{% endblock %}
{% load static %}

{% block js %}

    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

{% endblock %}

{% block css %}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />

{% endblock %}

{% block contenido %}

    <br>
    <h2>Galeria de productos</h2>
           <br><br>
           <div class="tproductos">
               <a data-fancybox="gallery" href="{% static 'app/img/productos/1.jpg' %}">ASUS TUF<img src="{% static 'app/img/productos/1.jpg' %}"></a>
               <a data-fancybox="gallery" href="{% static 'app/img/productos/2.jpg' %}">HP PAVILION<img src="{% static 'app/img/productos/2.jpg' %}"></a>
               <a data-fancybox="gallery" href="{% static 'app/img/productos/3.jpg' %}">ACER PREDATOR<img src="{% static 'app/img/productos/3.jpg' %}"></a>
               <a data-fancybox="gallery" href="{% static 'app/img/productos/4.jpg' %}">ASUS ROG<img src="{% static 'app/img/productos/4.jpg' %}"></a>
               <a data-fancybox="gallery" href="{% static 'app/img/productos/5.jpg' %}">LENOVO LEGION<img src="{% static 'app/img/productos/5.jpg' %}"></a>
               <a data-fancybox="gallery" href="{% static 'app/img/productos/6.jpg' %}">MACBOOK PRO<img src="{% static 'app/img/productos/6.jpg' %}"></a>
               <a data-fancybox="gallery" href="{% static 'app/img/productos/7.jpg' %}">MSI GF65<img src="{% static 'app/img/productos/7.jpg' %}"></a>
               <a data-fancybox="gallery" href="{% static 'app/img/productos/8.jpg' %}">HP OMEN<img src="{% static 'app/img/productos/8.jpg' %}"></a>
               <a data-fancybox="gallery" href="{% static 'app/img/productos/9.jpg' %}">ASUS VIVOBOOK<img src="{% static 'app/img/productos/9.jpg' %}"></a>
               <a data-fancybox="gallery" href="{% static 'app/img/productos/10.jpg' %}">HP 240<img src="{% static 'app/img/productos/10.jpg' %}"></a>
               <a data-fancybox="gallery" href="{% static 'app/img/productos/11.jpg' %}">LENOVO IDEAPAD 5<img src="{% static 'app/img/productos/11.jpg' %}"></a>
               <a data-fancybox="gallery" href="{% static 'app/img/productos/12.jpg' %}">DELL INSPIRON<img src="{% static 'app/img/productos/12.jpg' %}"></a>
               <a data-fancybox="gallery" href="{% static 'app/img/productos/13.jpg' %}">GEAR IRIS<img src="{% static 'app/img/productos/13.jpg' %}"></a>
               <a data-fancybox="gallery" href="{% static 'app/img/productos/14.jpg' %}">ACER ASPIRE<img src="{% static 'app/img/productos/14.jpg' %}"></a>
               <a data-fancybox="gallery" href="{% static 'app/img/productos/15.jpg' %}">LENOVO IDEAPAD S145<img src="{% static 'app/img/productos/15.jpg' %}"></a>
           </div>
    <br>

{%  endblock %}